@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --color-primario: #000000;
    --color-secundario:  #310549;
    --color-terciario: #892CDC;

    --color-texto: #ffffff;
    --color-texto-visited: #892CDC;
    --color-texto-hover: #310549;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body {
    background-color: var(--color-primario);
    color: var(--color-texto);
    box-sizing: border-box;
    font-family: "Krona One", serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.header {

}

.header__nav__lista {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

.header__nav__lista__item {
    list-style: none;
    margin: 13px 20px;
    color: var(--color-texto);
}

.header__nav__lista__item__link:active {
    color: var(--color-texto);
}

.header__nav__lista__item__link:visited {
    color: var(--color-texto-visited);
}

.padre {
    display: flex;
    align-items: center;
    flex-flow: nowrap;
    margin-top: 5%;
}

.padre__texto {
    margin-bottom: 16px;
    margin-right: 20px;
}
.texto__destacado {
    color: var(--color-terciario);
}

.padre__texto__titulo {
    margin: 20px;
    text-align: center;
    padding-left: 40%;
}

.padre__texto__texto {
    padding-left: 40%;
}

.padre__texto__botones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.padre__imagen {
    width: 60%;
    border-radius: 80px 10px 10px 80px;
    border: 3px solid var(--color-texto);

    /* Por alguna razon la imagen
    se centra si pongo esto: */
    display: block;
    margin-right: auto;
    /* Hasta aqui */
    
}

.padre__texto__boton {
    color: var(--color-texto);
    text-decoration: none;
    width: 200px;
    margin-top: 20px;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    border: solid 2px var(--color-terciario);
}

.padre__texto__boton:hover {
    background-color: var(--color-texto-hover);
}

.padre__texto__boton__estilo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.padre__texto__boton__estilo:visited {
    color: var(--color-texto-visited);
}

.padre__texto__boton__estilo:link {
    color: var(--color-secundario);
}

.padre__texto__botones__subtitulo {
    font-family: "Krona One", serif;
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
}

.footer {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    padding: 24px;
    margin-top: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}