@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --color-primario: #000000;
    --color-secundario:  #310549;
    --color-terciario: #892CDC;

    --color-texto: #ffffff;
    --color-texto-visited: #892CDC;
    --color-texto-hover: #310549;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    background-color: var(--color-primario);
    color: var(--color-texto);
    box-sizing: border-box;
    font-family: "Krona One", serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__nav__lista {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 12.5%;
}

.header__nav__lista__item {
    width: 10%;
    list-style: none;
    margin: 0.8125rem 1.25rem;
    color: var(--color-texto);
}

.header__nav__lista__item__link:active {
    color: var(--color-texto);
}

.header__nav__lista__item__link:visited {
    color: var(--color-texto-visited);
}

.padre {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: nowrap;
    margin-top: 4.5%;
}

.padre__texto {
    width: 50%;
    margin-bottom: 0.2222em;
    margin-right: 0.2777em;
}

.texto__destacado {
    color: var(--color-terciario);
}

.padre__texto__titulo {
    margin-bottom: 0.625rem;
    text-align: center;
    padding-left: 75%;
}

.padre__texto__texto {
    padding-left: 40%;
}

.padre__texto__botones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.padre__imagen {
    width: 70%;
    border-radius: 5em 0.625em 0.625em 5em;
    border: 0.1875em solid var(--color-texto);

    /* Por alguna razon la imagen
    se centra si pongo esto: */
    display: block;
    margin-right: 10%;
    /* Hasta aqui */
    
}

.padre__texto__boton {
    color: var(--color-texto);
    text-decoration: none;
    width: 12.5rem; 
    margin-top: 1.25rem;
    padding: 0.625rem 0 0.625rem 0;
    border-radius: 0.625rem;
    text-align: center;
    font-size: 1.25rem;
    border: solid 0.125rem var(--color-terciario);
}

.padre__texto__boton:hover {
    background-color: var(--color-texto-hover);
}

.padre__texto__boton__estilo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.padre__texto__boton__estilo:visited {
    color: var(--color-texto-visited);
}

.padre__texto__boton__estilo:link {
    color: var(--color-secundario);
}

.padre__texto__botones__subtitulo {
    font-family: "Krona One", serif;
    margin-top: 1.25rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.footer {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    padding: 1.5em;
    margin-top: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}